:root {
  --bg-primary: rgba(75, 75, 255, 1);
  --bg-secondary: rgba(75, 75, 200, 1);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(24, 24, 24, 0.87);
  background-color: rgba(124, 124, 255, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
