:root{
  --color-primary: #050A30;
  --color-secondary: #232642;
  /* --color-secondary: #333652; */
  --color-text: #90ADC6;
  --color-highlight: #333652;
  --color-bg: #535C91;
  --color-light: #9290C3;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
